<div id="content"></div>
<div id="record"></div>
<div id="jukebox"></div>

<script>
  React.render(React.createElement(Organ), document.getElementById('content'));
  React.render(React.createElement(Recorder), document.getElementById('record'));
  React.render(React.createElement(Jukebox), document.getElementById('jukebox'));
</script>
